* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#col-1 {
  color: #000;
}

.column,
section {
  display: flex;
}

section {
  margin: 0 auto;
  height: 100vh;

  justify-content: space-around;
  align-items: center;

  min-height: 47.0625em; /* 753px / 16em */
  max-width: 54.375em; /*870px / 16em*/
}

.column {
  width: 45%;
  height: 50vh;
  padding: .5em;

  flex-direction: column;
  align-items: center;

  min-height: 365px;
}

button {
  width: 50%;
  max-width: 6.875em; /*110px / 16em*/
  display: block;
  margin: 4em auto;
  padding: 1em;

  background-color: #41ba54;
  border: 1px solid #000;
  color: #fff;

  transition: all .5s;
}

button:hover {
  background-color: #fff;
  color: #41ba54;
}

#col-1 h1:hover,
button:hover {
  cursor: pointer;
}
